{include file="public/pointmallheader" /}
<div class="panel mb-3">
    <div class="panel-header">{$title}</div>
    <div class="panel-body">
        <form class="form auto-form" method="post" autocomplete="off"
              return="./cat">
            <div class="form-body">
                <div class="form-group row">
                    <div class="form-group-label col-sm-2 text-right">
                        <label class=" col-form-label required">分类名称</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="name" value="{php} echo $data&&isset($data['name']) ?  $data['name'] : '' {/php}">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group-label col-sm-2 text-right">
                        <label class=" col-form-label required">排序</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="number" name="model[sort]"
                               value="{php} echo $data&&isset($data['sort']) ?  $data['sort'] : 100; {/php}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group-label col-sm-2 text-right">
                        <label class="col-form-label">分类图标</label>
                    </div>
                    <div class="col-sm-6">
                        <div class="upload-group">
                            <div class="input-group">
                                <input class="form-control file-input" name="model[pic_url]"
                                       value="{php} echo $data&&isset($data['pic_url']) ?  $data['pic_url'] : ''; {/php}">
                                <span class="input-group-btn">
                                <a class="btn btn-secondary upload-file" href="javascript:" data-toggle="tooltip"
                                   data-placement="bottom" title="上传文件">
                                    <span class="iconfont icon-cloudupload"></span>
                                </a>
                            </span>
                                <span class="input-group-btn">
                                <a class="btn btn-secondary select-file" href="javascript:" data-toggle="tooltip"
                                   data-placement="bottom" title="从文件库选择">
                                    <span class="iconfont icon-viewmodule"></span>
                                </a>
                            </span>
                                <span class="input-group-btn">
                                <a class="btn btn-secondary delete-file" href="javascript:" data-toggle="tooltip"
                                   data-placement="bottom" title="删除文件">
                                    <span class="iconfont icon-close"></span>
                                </a>
                            </span>
                            </div>
                            <div class="upload-preview text-center upload-preview">
                                <span class="upload-preview-tip">200&times;200</span>
                                <img class="upload-preview-img" src="{php} echo $data&&isset($data['pic_url']) ?  $data['pic_url'] : ''; {/php}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group-label col--sm-2 text-right">
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-primary auto-form-btn" href="javascript:">保存</a>
                        <input type="button" class="btn btn-default ml-4"
                               name="Submit" onclick="javascript:history.back(-1);" value="返回">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>