<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章列表--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all" />
    <link rel="stylesheet" href="__NEWCSS__/public.css?ver={$ver}" media="all" />
    <!-- Bootstrap stylesheet -->
    <!--<link rel="stylesheet" type="text/css" href="__NEW__/clockpicker-gh-pages/assets/css/bootstrap.css">-->
    <!--&lt;!&ndash; ClockPicker Stylesheet &ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="__NEW__/clockpicker-gh-pages/dist/bootstrap-clockpicker.css">-->
    <!--<link rel="stylesheet" type="text/css" href="__NEW__/datetimepicker/css/jquery.datetimepicker.css">-->
    <!--&lt;!&ndash; jQuery and Bootstrap scripts &ndash;&gt;-->
    <!--<script type="text/javascript" src="__NEW__/clockpicker-gh-pages/assets/js/jquery.js"></script>-->
    <!--<script type="text/javascript" src="__NEW__/clockpicker-gh-pages/assets/js/bootstrap.js"></script>-->
    <!--<script type="text/javascript" src="__NEW__/datetimepicker/js/jquery.datetimepicker.js"></script>-->
    <!--&lt;!&ndash; ClockPicker script &ndash;&gt;-->
    <!--<script type="text/javascript" src="__NEW__/clockpicker-gh-pages/dist/bootstrap-clockpicker.js"></script>-->
</head>