<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>图片总数--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all" />
	<link rel="stylesheet" href="__NEWCSS__/public.css?ver={$ver}" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="image_operation">
		<div class="layui-inline">
			<label class="layui-form-label">产品分类</label>
			<div class="layui-input-block">
				<select name="product_type" class="product_type" lay-filter="product_type">
					<option value="0">请选择类型</option>
					{volist name="category" id="value"}
					<option value="{$value.id}" >{$value.name}</option>
					{/volist}

				</select>
			</div>
		</div>
	</blockquote>
	<ul class="layer-photos-demo" id="Images"></ul>
</form>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__NEWJS__/productselect.js"></script>
</body>
</html>