{include file='public/header2'}
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote image_operation">
		<div class="layui-inline">
			<a class="layui-btn layui-btn-sm  layui-btn-danger uploadNewImg">上传新图片</a>
		</div>
	</blockquote>
	<ul class="layer-photos-demo" id="Images" style="padding-top: 90px;"></ul>
</form>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__NEWJS__/imageselect.js"></script>
</body>
</html>